<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update My Info</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/member/mypage/updateInfo.css">
</head>
<body>
     <!-- 헤더 -->
     <th:block th:replace="~{common/header}"></th:block>

    <main>
        
        <section class="main-section">

            <!-- 로고 -->
            <div id="font-logo-area">
                <a href="/" id="font-logo">
                    <img src="/images/font-logo.png" alt="font-logo" style="width: 200px;">
                </a>
            </div>
            
            <div class="text">
                <span>회원정보 수정</span>
            </div>

            <section class="update">
                <form action="updateMyInfo" method="post" name="update-form" id="updateForm">
                    <table class="info-input-area">
                        <tr>
                            <td>이메일</td>
                            <td><input name="email" id="email" th:value="${session.loginMember.email}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>핸드폰 번호</td>
                            <td><input name="phone" id="phone" th:value="${session.loginMember.phone}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td><input type="password" name="newPw" id="newPw" placeholder="수정할 비밀번호"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>비밀번호 확인</td>
                            <td><input type="password" name="newPwConfirm" id="newPwConfirm" placeholder="다시 한 번 입력해주세요"></td>
                            <td></td>
                        </tr>
                    </table>
                    <table class="address-input-area">                                
                        <tr>
                            <td>주소</td>
                            <td>
                                <input name="address" id="postcode" th:value="${postcode}" required readonly>
                            </td>
                            <td>
                                <button id="searchBtn">주소 검색</button>
                            </td>
                        </tr>
                    </table>
                    <table class="detail-input-area">
                        <tr>
                            <td class="detail-address">
                                <input name="address" id="mainAddress" th:value="${mainAddress}" required readonly>
                            </td>
                        </tr>
                        <tr>
                            <td class="detail-address" >
                                <input name="address" id="detailAddress" th:value="${detailAddress}" required>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button id="editBtn">수정하기</button>
                    </div>
                </form>
            </section>

            <div class="text">
                <span>회원 탈퇴</span>
            </div>

            <section class="resign">
            
                <form action="resign" method="post" name="resignForm" id="resignForm" >
                    <div class="resign-input-area">
                        <div>
                            <div class="inputPw">
                                <span>비밀번호를 입력해주세요</span>
                                <input name="memberPw" type="password" id="memberPw">
                            </div>
                        </div>
                        <div>
                            
                            <button id="openBtn">탈퇴 약관</button>
                            <span style="font-size: 15px;"> 동의 체크</span>
                            <input type="checkbox" id="agree">
                            <div id="modal" class="hidden">
                                <button id="closeBtn">X</button>
                                <textarea id="textArea">
BeBeGiBoo 회원(이하 "회원")을 탈퇴하기 전에 반드시 읽어 주십시오.

본 약관은 BeBeGiBoo (이하 “당사”)가 BeBeGiBoo 회원(이하 “회원”)의 탈퇴에 관한 모든 조건을 규정한 것입니다. 

처리 완료 되지 않은 기부 내역이나 신청 내역이 존재할 경우, 처리 완료 전에는 탈퇴하실 수 없습니다. 절차가 모두 완료된 후에 탈퇴 수속해 주십시오.
회원탈퇴를 하실 경우에는 아래의 내용에 동의하신 것으로 간주됩니다.

탈퇴 후에는 당사가 운영하는 모든 웹사이트(이하 “BeBeGiBoo 사이트”)에서 제공하는 회원 대상 서비스를 이용하실 수 없습니다.
그동안 기부했던 내역은 탈퇴하시는 시점부터 전부 열람 또는 연동되지 않습니다.
기부를 통해 봉사인증 신청을 완료한 내역은 그대로 남게됩니다. 
탈퇴 후에도 카드결제 등으로 발생한 이용요금 지불책임은 이행해야 합니다.
회원 탈퇴 수속이 수리된 후에도 회원정보에 대해서는 당사가 관리하게 됩니다.
탈퇴 후에 회원정보를 삭제하는 경우도 있으므로 양해해 주십시오.
                                </textarea>  
                            </div>
                            
                                <button id="resignBtn">회원탈퇴</button>
                        </div>
                    </div>
                </form>

            </section>
        </section>

    </main>   

    <!-- 다음 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

     <!-- 푸터 -->
     <th:block th:replace="~{common/footer}"></th:block>

     <script src="/js/member/mypage/updateMyInfo.js"></script>
</body>
</html>