<!DOCTYPE html>
<html lang="en" mlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리 페이지</title>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/manager/membership.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
        <th:block th:replace="~{common/manager-bar}"></th:block>

        <div class="membershipContainer">

            <div id="membershipTitle" class="text" style="color: black;">

                회원목록
            </div>
            <table class="text" style="border-spacing: 0; margin-bottom: 30px; color: rgb(0,149,250);">
                <tr style="text-align: center; height: 60px; box-shadow: 5px 5px 5px gray;">
                    <td style="width: 100px; background-color: white; font-weight: 500;">회원 번호</td>
                    <td style="width: 200px; background-color: white; font-weight: 500;">회원 아이디</td>
                    <td style="width: 200px; background-color: white; font-weight: 500;">회원 이름</td>
                    <td style="width: 400px; background-color: white; font-weight: 500;">가입 날짜</td>
                    <td style="width: 100px; background-color: white; font-weight: 500;"></td>
                </tr>
            </table>



            <div id="membershipBoard">
                
            </div>


            <!-- 수정 모달창 -->
            <div class="popup-layer">
                <div class="popup-close">x</div>


                <table>

                <div style="text-align: center; margin-bottom: 70px; margin-top: 50px;" class="text">회원정보 수정</div>

                <table class="text" style="margin-left: 20px;">


                    <tr>
                        <td>이름</td>
                        <td>
                            <input id="name">
                        </td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>
                            <input id="email">
                        </td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td>
                            <input id="phone">
                        </td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>
                            <input id="address">
                        </td>
                    </tr>
                    <tr>
                        <td>탈퇴 여부</td>
                        <td>
                            <input id="del" placeholder="'Y' 또는 'N'을 입력해주세요">
                        </td>
                    </tr>
                    <tr>
                        <td>권한</td>
                        <td>
                            <input id="authority" placeholder="1: 기부자, 2:피기부자, 3:관리자">
                        </td>
                    </tr>

                </table>


                <input id="memberNo" type="hidden">

                <div id="button-container">
                    <button id="updateButton" style="margin-top: 30px; width: 100px;">수정하기</button>

                </div>


            </div>




        </div>




    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/manager/membership.js"></script>
    
</body>
</html>