<div id="comment-area">
	<div id="commentArea">
	
	    <th:block th:if="${session.loginMember}">
	        <div id="id-addCommentArea">
	            <span th:text="|@${session.loginMember?.memberId}|">아이디</span>
	            <button id="addComment" >등록</button>
	        </div>
	        <textarea id="commentContent" rows="10" placeholder="다른 사람에게 불쾌감을 주는 욕설, 혐오, 비하의 표현이나 타인의 권리를 침해하는 내용은 사용하지 않도록 주의해주세요."></textarea>
	    </th:block>
	
	    
	
	    <div class="commentListArea">
	        <ul id="commentList">
	            <li class="commentCount"th:text="|전체 댓글 ${board.commentList.size}개|"></li>
	
	            <li th:each="comment : ${board.commentList}"
	                th:classappend="${comment.parentCommentNo} != 0 ?childComment"
	                th:object="${comment}">
	                
	                <th:block th:if="*{commentDelFl}=='Y'">
	                    <div class="deleteCommentArea">- 삭제된 댓글입니다 -</div>
	                </th:block>
	                 
	                <th:block th:if="*{commentDelFl}=='N'">
	                    
	                    <div class = "commentWrite">
	                        <div class="infoArea">
	                            <span class="memberId" th:text="|@*{memberId}|">아이디</span>
	                            <span class="commentWriteDate"th:text="*{commentWriteDate}">작성일</span>
	                        </div>
	                         
	                        <div class="editArea" style="display: none;">
	                            <button class="addChildBtn" th:onclick="|showInsertComment(*{commentNo}, this)|">답글</button>
	                            
	                            <th:block th:if="${session.loginMember != null and session.loginMember?.memberNo == comment.memberNo}">
	                                <button class="updateBtn-c" th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>
	                                <button class="deleteBtn-c" th:onclick="|deleteComment(*{commentNo})|">삭제</button>
	                            </th:block>
	                        </div>
	                        <img th:if="${session.loginMember!=null}" src="/images/addMore.png" class="editBtn">
	
	                    </div>
	                    
	                    <div class="comment-content" th:utext="*{commentContent}">댓글 내용</div>
	                    
	                
	                </th:block>
	                
	            </li>
	        </ul>
	    </div>
	
	</div>
	<div class="bannerArea"> </div>

</div>


