<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymepeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification Form</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/certification/certification.css">
</head>
<body>

    <!-- HEADER -->
    <th:block th:replace="~{common/header}"></th:block>

 
        <main>
   
            <section class="certification">

                   <!-- 로고 -->
                <div id="font-logo-area">
                    <a href="/" id="font-logo">
                        <img src="/images/font-logo.png" alt="font-logo">
                    </a>
                </div>


                <div id="certificate"><span>봉사 인증 신청서</span></div>

                <form action="certification-complete" method="POST" enctype="multipart/form-data" name="certificationForm" id="certificationForm">

                    <div class="certificationTable">

                    <table class="info-input">
                        <tr>
                            <td>봉사자 아이디</td>
                            <td>
                                <input type="text" name="memberId" required>
                            </td>
                        </tr>
                        <tr>
                            <td>봉사자 이름</td>
                            <td>
                                <input type="text" name="memberName" required>
                            </td>
                        </tr>
                        <tr>
                            <td>1365 아이디</td>
                            <td><input type="text" name="certificationId" required></td>
                        </tr>
                        <tr>
                            <td>생년월일</td>
                            <td>
                                <input type="text" name="memberBirth" id="memberBirth" required> 
                            </td>
                        </tr>
                        <tr>
                            <td>핸드폰 번호</td>
                            <td>
                                <input type="text" name="phone" id="phone" required>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="form-message" id="formMessage">생년월일 8자리 '-' 없이 입력해주세요</span></td>
                        </tr>
                        
                        <tr></tr>

                        <tr>
                            <td id="addressLetter">주소</td>
                        </tr>

                        <tr>
                            <td>우편번호</td>
                            <td>
                                <input type="text" name="address" id="postcode" placeholder="우편번호" required readonly>
                            </td>
                            <td><button id="searchBtn">찾기</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="text" name="address" id="mainAddress" placeholder="도로명 / 지번 주소" required readonly>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="text" name="address" id="detailAddress" placeholder="상세주소" required>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td></td>
                            <td id="imageupload">봉사활동 인증 사진(3장 이상 업로드)</td>
                            <td></td>
                        </tr>
                    </table>
                    <table class="image-area">  
                        <tr>
                            <td>
                                <div class="c-img">
                                    <label for="img1">
                                        <img class="preview" id="previewImg1" src=""> 
                                        <span onclick="document.getElementById('img1').click()">+</span> 
                                    </label>
                                    <input type="file" name="images" class="inputImage" id="img1" accept="image/*" style="display: none;"> 
                                    <span class="delete-image">&times;</span>
                                </div>
                            </td>
                            <td>   
                                <div class="c-img">
                                    <label for="img2">
                                        <img class="preview" id="previewImg2" src=""> 
                                        <span onclick="document.getElementById('img2').click()">+</span> 
                                    </label>
                                    <input type="file" name="images" class="inputImage" id="img2" accept="image/*" style="display: none;"> 
                                    <span class="delete-image">&times;</span>
                                </div>
                            </td> 
                            <td>  
                                <div class="c-img">
                                    <label for="img3">
                                        <img class="preview" id="previewImg3" src=""> 
                                        <span onclick="document.getElementById('img3').click()">+</span> 
                                    </label>
                                    <input type="file" name="images" class="inputImage" id="img3" accept="image/*" style="display: none;"> 
                                    <span class="delete-image">&times;</span>
                                </div>
                            </td>      
                        </tr>        
                    </table>
                    <table>
                        <tr class="agree">
                            <td>
                                <input type="checkbox" value="1">
                                <span><button id="openBtn">이용약관</button>과 <button id="openBtn2">개인정보취급방침</button>에 동의합니다.</span>
                                <div id="modal" class="hidden">
                                    <div id="modalContent">
                                        <button id="closeBtn">X</button>
                                        <textarea name="checkbox1Info" id="checkbox1Info">
제 1 장 총칙

[제1조 목적]

사단법인 베베기부가 제공하는 인터넷 관련서비스(이하 “서비스”)의 이용조건 및 절차,  기타 필요한 사항을 규정함을 목적으로 한다.

[제2조 약관의 효력]

본 약관은 본 서비스의 화면에 게시함으로써 효력이 발생한다.

[제3조 약관의 게시 및 변경]

서비스는 이 약관을 변경할 수 있으며, 변경된 약관은 제 2조와 같은 방법으로 공지 또는 통지함으로써 효력을 발생한다.

[제4조 약관 외 준칙]

본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 전자거래기본법, 전자서명법 및 기타 관련법령 또는 상관례에 따른다.

제 2 장 회원 가입과 서비스 이용

[제1조 회원의 정의]

회원이란 베베기부에 개인정보를 제공하여 베베기부의 기부하는 회원으로 등록을 한 이용자 및 베베기부의 기부를 받는 회원으로 등록을 한 이용자로 베베기부의 정관에 명시된 목적과 공익적 사업취지에 공감하고 참여하는 개인 또는 기업/기관/단체를 말하며, 본 약관에 동의하고 서비스 회원 가입양식을 작성하여 ‘ID’와 ‘비밀번호’를 발급 받은 회원을 말한다.

[제2조 회원가입]

대한민국 국민과 외국인 등 모든 개인과 기업/기관/단체는 베베기부가 정한 가입신청서를 작성하여 회원으로 가입할 수 있다.

[제3조 회원의 권리와 의무]

회원은 베베기부가 수행하는 제반 사업에 대한 정보를 제공받을 수 있다.
회원은 베베기부의 사업과 관련한 활동에 참여할 수 있다.
회원은 베베기부의 고유목적사업 수행을 위해 서비스를 통해 기부, 후원할 수 있다.
[제4조 회원 가입의 성립]

서비스 가입은 이용자의 참여 신청에 대한 서비스의 이용 승낙과 이용자의 약관 내용에 대한 동의로 성립된다.
회원으로 가입하여 서비스를 이용하고자 하는 희망자는 베베기부에서 요청하는 개인 신상정보를 제공해야 한다.
가입할 때 입력한 ID는 휴대폰번호로 하며, 한 사람에게 오직 한 개의 ID가 발급된다.
[제5조 서비스의 내용]

(1) 회원에게 제공되는 서비스의 내용은 다음과 같다.

1.회원은 본인의 기부과 후원내역을 확인할 수 있다.

2.회원은 서비스의 온라인 결제 시스템을 통해 자신의 현금 결제 수단(신용카드, 무통장입금 등)으로 기부에 참여할 수 있다.

3.베베기부는 기부물품의 적립과 배분 내역을 베베기부 웹사이트와 사업보고서를 통해 공고하여 회원에게 공지한다.

4.베베기부는 회원의 요청에 의해 관련 법규에 따라 기부금품에 대한 영수증을 발행한다.

(2) 서비스는 필요한 경우 서비스의 내용을 추가 또는 변경할 수 있습니다.

이 경우 베베기부는 추가 또는 변경내용을 회원에게 통지한다.

(3) 회원은 서비스의 운영과 관리에 대하여 소정의 절차에 의해 의견을 제시할 수 있으며, 베베기부는 이에 대하여 적절한 절차를 거쳐 처리하여야한다.

[제6조 서비스 이용 및 제한]

(1) 서비스 이용은 베베기부의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 한다.

다만 서비스가 통제 할 수 없는 사유로 인한 서비스의 중단(시스템 관리자의 고의, 고실이 없는 디스크 장애, 시스템 다운 등)으로 인하여 사전 통지가 불가능한 경우 예외로 한다.

(2) 전항의 서비스 이용시간은 시스템 정기점검 등 베베기부가 필요한 경우, 회원에게 사전 통지한 후 제한할 수 있다.

[제7조 서비스의 사용료]

(1) 서비스는 회원으로 등록한 모든 사람들이 무료로 사용할 수 있다.

제 3 장 서비스 탈퇴, 재가입 및 이용 제한
[제1조 서비스 탈퇴] 회원이 서비스의 탈퇴를 원하면 회원 본인이 직접 전자메일을 통해 운영자에게 해지 신청을 요청한다.

[제3조 서비스 이용제한] 서비스는 회원이 다음 사항에 해당하는 행위를 했을 경우, 사전 통지없이 이용 계약을 해지하거나 기간을 정하여 서비스 이용을 중지할 수 있다.

가. 공공 질서 및 미풍 양속에 반하는 경우
나. 범죄적 행위에 관련되는 경우
다. 국익 또는 사회적 공익을 저해할 목적으로 서비스 이용을 계획 또는 실행할 경우
라. 타인의 명예를 손상시키거나 불이익을 주는 경우
마. 서비스에 위해를 가하는 등 건전한 이용을 저해하는 경우
바. 기타 관련 법령이나 회사가 정한 이용조건에 위배되는 경우
사. 서비스에서 얻은 정보를 회사의 사전승락 없이 회원이 얻은 정보의 참고외에 복제 또는 출판 및 방송 등에 사용하거나 제 3자에게 제공하는 경우

제 4 장 의무
[제1조 서비스 탈퇴]

회원이 서비스의 탈퇴를 원하면 회원 본인이 직접 전자메일을 통해 운영자 또는 02-1234-1234 유선 전화를 통해 본인 확인 후 해지 신청을 요청한다.

[제3조 서비스 이용제한]

서비스는 회원이 다음 사항에 해당하는 행위를 했을 경우, 사전 통지없이 이용 계약을 해지하거나 기간을 정하여 서비스 이용을 중지할 수 있다.

가. 공공 질서 및 미풍 양속에 반하는 경우

나. 범죄적 행위에 관련되는 경우

다. 국익 또는 사회적 공익을 저해할 목적으로 서비스 이용을 계획 또는 실행할 경우

라. 타인의 명예를 손상시키거나 불이익을 주는 경우

마. 서비스에 위해를 가하는 등 건전한 이용을 저해하는 경우

바. 기타 관련 법령이나 회사가 정한 이용조건에 위배되는 경우

사. 서비스에서 얻은 정보를 회사의 사전승락 없이 회원이 얻은 정보의 참고외에 복제 또는 출판 및 방송 등에 사용하거나 제 3자에게 제공하는 경우

제 4 장 의무

[제1조 서비스의 의무]

(1) 서비스는 특별한 사정이 없는 한 회원이 서비스를 이용할 수 있도록 한다.

(2) 서비스는 이 약관에서 정한 바에 따라 계속적, 안정적으로 제공할 의무가 있다.

(3) 서비스는 회원으로부터 소정의 절차에 의해 제기되는 의견에 대해서 적절한 절차를 거쳐 처리하며,

처리시 일정기간이 소요될 경우 회원에게 그 사유와 처리 일정을 알려주어야 한다.

[제2조 회원 정보 보안의 의무]

(1)안정적인 기부신청과 회원관리를 위해 회원가입 및 서비스를 아래와 같이 제3자에게 제공하여 업무를 진행하고 있다.

-제공받는 자 :(주)KH정보교육원 

-목적: 기부물품 기부 및 후원에 원활한 진행

(2) 전항을 제외한 개인의 신분 확인이 가능한 정보를 회원 혹은 사용자의 사전허락 없이 회사와 관계가 없는 제3자에게 팔거나 제공하지 않는다.

그러나 베베기부가 자발적으로 제공된 등록된 정보를 다음과 같은 경우에 활용할 수 있다.

가. 회원들에게 유용한 새 기능, 정보, 서비스 개발에 필요한 정보를 개발자들에게 제공하는 경우

나. 광고주들에게 서비스 회원과 사용자 집단에 대한 통계적(결코 회원 개개인의 신분이 드러나지 않는) 정보를 제공하는 경우

다. 회원과 사용자 선호에 따른 광고 또는 서비스를 실시하기 위하여 베베기부에서 사용하는 경우

라. 베베기부의 원활한 서비스를 위해 회원의 정보를 이용하여 소셜 및 메신져 친구추가하는 경우

(3) 게시판, 자료실 등의 커뮤니티에 개인 신분 확인이 가능한 정보(닉네임)이 자발적으로 공개될 수 있다.

이런 경우 공개된 정보가 제3자에 의해 수집되고 연관되어, 사용될 수 있으며 제3자로부터 원하지 않는 메시지를 받을 수도 있다.

제3자의 그러한 행위는 베베기부가 통제할 수 없다. 따라서 베베기부는 베베기부가 통제할 수 없는 방법에 의한 회원 정보의 발견 가능성에 대해 아무런 보장을 하지 않는다.

(4) 베베기부는 회원의 정보를 서비스 또는 베베기부 업무제휴 업체간에 상호 제공/활용할 수 있다.

[제3조 면책조항]

(1) 서비스는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스를 제공하지 않는다.

(2) 서비스는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않는다.

(3) 서비스는 회원 본인이 정보를 오류로 기재하여 문제가 발생한 사항에 대하여 책임을지지 않는다.

(4) 서비스는 이용회원이 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나 서비스 자료에 대한 취사 선택 또는 이용으로 발생하는 손해

등에 대해서는 책임이 면제된다.

제 5 장 분쟁조정
(1) 본 이용약관에 규정된 것을 제외하고 발생하는 서비스 이용에 관한 제반 문제에 관한 분쟁은 최대한 쌍방합의에 의해 해결하도록 한다.

(2) 서비스 이용으로 발생한 분쟁에 대해 소송이 제기될 경우 옷캔의 소재지를 관할하는 법원을 관할법원으로 한다.

제 6 장 기부물품의 사용
(1) 기부물품은 국내 베베기부가 정한 목적사업(수익사업 포함)활용되어 짐을 원칙으로 한다. 그 활용의 범위는 대표자가 정한다.

(2) 기부물품은 베베기부의 운영방침에 따라 기부 또는 판매가 이루어지며 , 그 수익금으로 베베기부의 운영 및 국내 소외계층을 돕는 다양한 목적사업에 사용되어진다.

(2) 기부물품은 베베기부의 운영 방침에 따라서 변경될 수 있으니 회원에서 사전에 공지한다.

(3) 기부물품이 베베기부에 도착 즉시 베베기부에 귀속되며, 기부자는 기부물품에 대한 자기권리를 행사할 수 없다.

[부칙]

이 약관은 2020년 1월 1일부터 시행한다.

                                            </textarea>
                                      
                                    </div>
                                </div>
                                <div id="modal" class="hidden">
                                    <div id="modalContent">
                                        <button id="closeBtn2">X</button>
                                        <textarea name="checkbox2Info" id="checkbox2Info">
수집항목 및 수집방법

베베기부(이하 '회사'라 함)은 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호법, 통신비밀보호법“에 관한 법령상의 개인정보보호 규정을 준수하며,
회사 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떤 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.


1. 개인정보의 수집 및 이용목적

회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.

가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
콘텐츠 제공, 구매 및 요금 결제, 물품배송 또는 청구서 등 발송
나. 회원 관리
회원제 서비스 이용에 따른 본인확인, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 분쟁 조정을 위한 기록보존, 고지사항 전달, 분만처리 등 회원관리
ο 마케팅 및 광고에 활용
이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계



2. 수집하는 개인정보의 항목 및 수집방법

가. 수집하는 개인정보의 항목
1) 회사는 회원가입, 고객상담, 서비스 신청 등을 위해 최초 회원가입 시 아래와 같은 개인정보를 수집하고 있습니다.
<회원가입>
- 필수항목 : 로그인ID, 비밀번호, 이름, 생년월일, 주소, 이메일, 휴대전화
2) 서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 생성되어 수집될 수 있습니다.
- 서비스 이용기록, 접속로그, 쿠키, 접속IP정보, 결제기록, 불량이용 기록 등
- 아이핀 서비스를 통한 본인 확인 정보
3) 회사 컨텐츠 이용 및 일부 서비스 이용시 관련 부정사용 방지를 위하여 아래와 같은 정보들이 수집될 수 있습니다.
- MAC Address, HDD serial, PC이름, IP Address
4) 유료 서비스 이용 과정에서 아래와 같은 결제 정보들이 수집될 수 있습니다.- 신용카드 : 카드사 코드, 승인번호 등 결제관련 기록- 가상계좌 : 입금자명, 승인번호 등 결제관련 기록- 실시간 계좌이체 : 은행코드 등 결제관련 기록나. 개인정보 수집 방법웹사이트(http://www.dreamagain.co.kr)

3.개인정보의 보유 및 이용기간

원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.

보존 항목 : 로그인ID, 비밀번호, 이름, 생년월일, 주소, 이메일, 휴대전화
보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률
보존 기간 : 회원탈퇴시까지

계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)
부정이용 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)

4.개인정보의 파기 절차 및 방법

회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.

가. 파기절차
회원님이 회원가입 등을 위해 입력하신 정보는 DB에 저장되며, 저장된 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
나. 파기방법
전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.

5.개인정보의 제공 및 공유

회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.

가. 이용자들이 사전에 동의한 경우
나. 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우

6. 개인정보의 취급위탁

회사는 신용카드 결제 및 무통장입금 결제 수단과 본인확인 서비스 및 아이핀인증 외의 회원님의 동의없이 회원님의 정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 고객님에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.

7. 이용자 및 법정대리인의 권리와 그 행사방법

이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다.
이용자 혹은 만 14세 미만 아동의 개인정보 조회·수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을 가입해지(동의철회)를 위해서는 “회원탈퇴”를 클릭 하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.
혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다.
귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자 에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다.
이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 회사에서 수집하는 “개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.

8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항

회사는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.

가. 쿠키 등 사용 목적
1) 회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공
2) 귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.

나. 쿠키 설정 거부 방법
1) 쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.

2) 설정방법
- 인터넷 익스플로러의 경우 : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보
- 크롬의 경우 : 웹 브라우저 상단의 설정 > 고급 설정 표시 > 콘텐츠 설정

3) 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.



9. 개인정보에 관한 민원서비스

회사는 고객의 개인정보를 보호하고 개인정보와 관련된 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.

개인정보관리책임자
성명 : 정윤희
전화번호 : 02-1234-1234
이메일 : bebegiboo@gmail.com

개인정보관리담당자
성명 : 김소영
전화번호 : 02-1234-1234
이메일 : bebegiboo@gmail.com

귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.

기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
개인분쟁조정위원회 (www.1336.or.kr/1336)
정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)
대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)
경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)
                                        
                                            </textarea>
                                      
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </table>

                    </div>

                    <div><button id="submitBtn">제출하기</button></div>

                </form>


            </section>



        </main>

    <!-- FOOTER -->
    <th:block th:replace="~{common/footer}"></th:block>

    <!-- 다음 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- 인증 폼 js -->
    <script src="/js/certification/certification.js"></script>
    
</body>
</html>