@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ONE-Mobile-Regular';
  }



  .hero-section {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: space-around;
    min-height: 25vh;
  }
  
  .loop-container {
    margin-top: 100px;
    white-space: nowrap;
    font-size: 5vw;
    letter-spacing: 1px;
  }
  
  .item {
    position: absolute;
    color: black;
  }
  
  /* -------------------------------------------- */
  
  .image-section {
      position: relative;
      overflow: hidden;
      display: flex;
      min-height: 55vh;
  }
  
  .second-loop-container {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
  
  .images-wrapper {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding-right: 2rem;
      position: absolute;
  }
  
  .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 300px;
      height: 440px;
  }
  
  .image-container img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
  }






  .exContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }

  #info-logo {
    height: 200px;
  }

  #text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  #text {
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
  }

  #video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }

  iframe {
    width: 1000px;
    height: 570px;
  }
  