@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
html,
body {
    height: 100vh;
    width: 100%;
}

*{
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px black solid;*/
}
.popup{
    position:absolute;
    z-index : 85;
    top : 100px;
    left: 50px;
}

.popup > img {
    width : 400px;
    margin : 0;
}
.popup-footer{
    width : 400px;
    background-color: black;
    color : white;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}
.closeBtn {
    color: white;
}
main {
    display: flex;
    flex-direction: column;
}

.button {
    font-family: "Noto Sans KR", sans-serif;
    background-color: rgba(0,0,0,0);
    border: 2px white solid;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .credit {
    position: fixed;
    top: 20px;
    right: 20px;
    font-weight: 800;
    font-size: 0.7rem;
  }
  
  .credit a {
    color: #1a292c;
    text-transform: lowercase;
  }

  
.image-wrap  img {
    height: 100%;
    width: auto;
    max-width: 75vw;
    object-fit: contain;
  }
  
  h2 {
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-size: clamp(3rem, 10vw, 6rem);
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    height: 50%;
    z-index: 80;
    display: grid;
    place-items: center;
  }
  
  body:not(.no-js) .image-wrap {
    transition: 1s ease-out;
    transition-delay: 0.2s;
    position: relative;
    width: auto;
    height: 80vh;
    overflow: hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    visibility: hidden;
  }
  
  body:not(.no-js) .image-wrap img {
    transform: scale(1.3);
    transition: 2s ease-out;
  }
  
  body:not(.no-js) .animating .image-wrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    visibility: visible;
    transform: skewY(0);
  }
  
  body:not(.no-js) .animating img {
    transform: scale(1);
    transition: 4s ease-out;
  }
  
  body:not(.no-js) .fadeup {
    opacity: 0;
    transition: 0.4s ease-out;
    transform: translateY(40px);
  }
  
  body:not(.no-js) .fading-up {
    opacity: 1;
    transition: 1s ease-out;
    transform: translateY(0px);
    transition-delay: 0.7s;
  }

#donate-color {
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}


#line {
    width: 1500px;
    border: 1px rgb(134, 134, 134) solid;
}

#main-banner-donate {
    position: absolute;
    top: 600px;
    left: 1700px;
    height: 30px;
    width: 100px;
}

#who-container {
    margin-top: 40px;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#who-logo {
    height: 230px;
    margin-right: 50px;
}

#who-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#who-title {
    font-weight: bold;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 30px;
}

#who-content {
    height: 500px;
}

#confirm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    margin: 0 100px;
    width: 1700px;
    border: 1px rgb(185, 185, 185) solid;
}

#confirm-button {
    color: rgb(14, 20, 78);
    border-color: rgb(14, 20, 78);
    font-size: 15px;
    height: 40px;
    width: 160px;
    margin: 60px;
    transition-duration: 0.4s;
}

#confirm-button:hover {
    background-color: rgb(14, 20, 78);
    color: white;
}

.cl-button {
    background-color: rgb(208, 227, 241);
    border: none;
    width: 150px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.cl-button:hover {
    box-shadow: 3px 3px 3px lightgray;
}

#donateThingss {
    width: 1500px;
    display: flex;
    overflow: scroll;
    justify-content: center;
}

.productInfo {
    height: 300px;
    width: 400px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px gray;
    transition-duration: 0.4s;
}


.donateDate {
    text-align: center;
    font-weight: bold;
}

#review-board thead {
    font-weight: bold;
    font-size: 18px;
    height: 60px;
}

#review-board thead td {
    background-color: rgb(254, 245, 220);
}

#review-board tbody tr {
    height: 40px;
}

#review-board tr > td:nth-child(1) {
    width: 80px;
}

#review-board tr > td:nth-child(2) {
    width: 370px;
}

#review-board tr > td:nth-child(3) {
    width: 150px;
}

#review-board tr > td:nth-child(4) {
    width: 100px;
}

#review-board tr > td:nth-child(5) {
    width: 80px;
}






#howtodonate {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 0;
}

.showBox {
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.5s ease-in-out;
}

.showBox.on {
    opacity: 1;
    transform: translateY(0);
}

#donate-box {
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-container {
    width: 150px;
    height: 150px;
    margin: 35px;
    background-color: #fff4e4;
    box-shadow: 10px 10px 5px rgb(121, 121, 121);
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.donate-container:hover {
    background-color: #ffe297;
}

.title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.content {
    font-size: 15px;
    text-align: center;
}


#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ex-img {
    width: 900px;
}

#review-board {
    cursor: pointer;
}



.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    margin-bottom: 150px;
}

.botton-button {
    border-radius: 50px;
    font-size: 20px;
    color: black;
    height: 80px;
    width: 400px;
    background-color: rgb(229, 235, 245);
    margin-top: 30px;
    transition-duration: 0.5s;
}

.botton-button:hover {
    background-color: white;
    border: 4px rgb(229, 235, 245) solid;
}


#top-button {
    left: 96%;
    top: 88%;
    position: fixed;
    font-size: 20px;
    text-align: center;
    height: 35px;
    width: 35px;
    background-color: white;
    box-shadow:5px 5px 5px gray;
    cursor: pointer;
    border-radius: 50%;
}



/****************** 헤더부분 *********************/

.header-main {
    background-color: rgba(red, green, blue, 0);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 90;
    backdrop-filter: blur(10px);
    box-shadow : 0 0 10px 0 rgba(0,0,0,0.3);
}

#logo {
    width: 40px;
    margin: 0 15px;
    cursor: pointer;
}
#font-logo {
    width :100px;
    margin-left: 20px;
}
.header-main > span:nth-child(1) {
    font-weight: 600;
    font-size: 30px;
}

.header-main > span:nth-child(2) {
    flex-basis: 80%;
}

.header-main > span:nth-child(3) {
    text-align: end;
    width: 200px;
    margin: 0 10px;
    font-size: 15px;
}

.header-main > span:nth-child(4){                                      
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-header > span {
    display: flex;
    align-items: center;
    text-align: center;
    height: 55px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    transition-duration: 0.5s;
}

#middle-header > span:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

#nav-container-null {
    margin-left: 93%;
    position: absolute;
    position: fixed;
    z-index: 100;
    visibility: hidden;   
}

#nav-container {
    margin-top: 55px;
    display: flex;
    margin-left: 89%;
    position: absolute;
    position: fixed;
    z-index: 100;
    visibility: hidden;   
}

.act-down {
    animation: fadeInDown 0.5s;
}

#nav-container-null > div:first-child{
    margin-top: 55px;
}

#nav-container-null > div {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 65px;
    background-color: rgb(254, 245, 220);
}

#nav-container-null > div > .noHover:hover {
    color: rgb(44, 178, 255);
    text-decoration: underline;
    transition-duration: 0.5s;
}

#nav-container-null > div > div:first-child{
    margin-top: 55px;
}

#nav-container > div:nth-child(2) > div {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 65px;
    background-color: rgb(254, 245, 220);
}

#nav-container > div > div > .noHover:hover {
    color: rgb(44, 178, 255);
    text-decoration: underline;
    transition-duration: 0.5s;
}

#nav-container > div > #hover1 > a:hover {
    color: rgb(44, 178, 255);
    text-decoration: underline;
    transition-duration: 0.5s;
}
#nav-container > div > #hover2 > a:hover {
    color: rgb(44, 178, 255);
    text-decoration: underline;
    transition-duration: 0.5s;
}

.nav-child {
    font-size: 13px;
    margin-right: 5px;
    margin-bottom: 2px;
    height: 33px;
    width: 110px;
    background-color: rgb(254, 245, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-child > div:first-child {
    margin-top: 5px;
}

#hamburger {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: rgb(254, 245, 220); /* 스크롤바의 색상 */
    
    border-radius: 10px;
}


/************************푸터부분*****************/


.footer-main {
    border-top: 1px #858585 solid;
    height: 200px;
    display: flex;
}

#logo {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo img {
    height: 100px;

}

#title {
    font-size: 30px;
    font-weight: 600;
}





#text {
    flex-basis: 85%;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text > div:first-child {
    font-weight: bold;
    font-size: 17px;
    margin: 20px;
    margin-left: 0;
}

#text > div > span > a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-right: 70px;
}


#text > div:last-child {
    font-size: 12px;
    line-height: 25px;
}


/**************심플 푸터*************/
#simpleFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
#simpleLogo img{
    width : 30px;
}



/*************기부완료 페이지*******************/
#donation-main {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#donation-firstBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#checkImg {
    height: 100px;
}

#checkTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.donation-container-1 {
    border: 1px black solid;
    width: 1300px;
    height: 150px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.donation-container-1 > table {
    margin-left: 100px;
}


.donation-container-2 {
    border: 1px black solid;
    width: 1300px;
    height: 600px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.donation-container-2 > div {
    margin-left: 100px;
}




