
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    background-color: rgb(230, 230, 230);
}

.membershipContainer {
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#membershipTitle {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 300px;
    height: 100px;
    background-color: rgb(208, 227, 241);

    box-shadow :rgba(0, 0, 0, 0.07) 0px 1px 2px,
                rgba(0, 0, 0, 0.07) 0px 2px 4px,
                rgba(0, 0, 0, 0.07) 0px 4px 8px;

}

#membershipBoard {
    overflow: auto;
    margin-bottom: 200px;
}


#membershipBoard tr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 60px;
    background-color: white;
    margin-bottom: 40px;
}

#membershipBoard td {
    text-align: center;
}

#membershipBoard tr > td:first-child {
    flex-basis: 10%;
    color: rgb(0,149,250);
}
#membershipBoard tr > td:nth-child(2) {
    flex-basis: 20%;
}
#membershipBoard tr > td:nth-child(3) {
    flex-basis: 20%;
}
#membershipBoard tr > td:nth-child(4) {
    flex-basis: 40%;
}
#membershipBoard tr > td:nth-child(5) {
    flex-basis: 10%;
}

.managerButton {
    height: 30px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0,149,250);
    border: 1px rgb(0,149,250) solid;
    border-radius: 10px;
    cursor: pointer;
}


.shadow {
    box-shadow: 5px 5px 5px gray;
}





/* 수정 모달창 */
.popup-layer {
    display: none;
    top: 200px;
    position: fixed;
    height: 600px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 10px gray;
    flex-direction: column;
    backdrop-filter: blur(20px);
    border-radius: 30px;
}

.popup-layer tr > td:first-child{
    font-size: 18px;
}

.popup-layer tr {
    height: 50px;
}

.popup-close {
    display: flex;
    justify-content: end;
    transition-duration: 0.2s;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-close:hover {
    color: red;
}

input {
    font-family: "Noto Sans KR", sans-serif;
    height: 30px;
    width: 220px;
    font-size: 15px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#updateButton {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 2px rgb(0,149,250) solid;
    font-size: 20px;
    color: rgb(0,149,250);
    border-radius: 10px;
    cursor: pointer;
}



