<footer>

    <div class="footer-main">

        <!-- 로고부분 -->
        <div id="logo">

            <div><img src="/images/logo-black.png"></div>
            <div id="title">BeBeGiBoo</div>

        </div>

        <!-- 글씨부분 -->
        <div id="text">

            <!-- 굵은글씨 -->
            <div>
                <span><a>회사소개</a></span>
                <span><a>이용 가이드</a></span>
                <span><a>FAQ</a></span>
                <span><a>기부하기</a></span>
            </div>

            <!-- 세부내용-->
            <div>
                법인명(상호) : 베베기부 (주) 대표자(성명) : 김소영, 정윤희, 이승주 주소 : 서울특별시 종로구 남대문로 120 그레이츠 청계 3층 E동 강의실<br>
                사업자 등록번호 : 123456436-390583784  사업자등록번호 : 119-86-84860 (사업자정보확인)<br>
                고객센터 이용시간 : 평일 09:00 ~ 18:00  고객센터 전화번호 : 02-1234-1234<br>

            </div>

        </div>


    </div>
</footer>