<header>

    <div class="header-main">
        <!-- 로고사진 -->
        <span><img src="/images/logo-black.PNG" id="logo" onclick="location.href='/';"></span>
    
        <!-- BeBeGiBoo 글씨부분 -->
        <span onclick="location.href='/';" style="cursor: pointer;">BeBeGiBoo</span>
    
        <!-- 가운데 여백부분 -->
        <span></span>
    
        <!-- 환영합니다 문구 -->

        <!-- 회원가입 페이지 이동 버튼-->
        <span><a href="/member/signup/signupMain">회원가입</a></span>
    
        <!-- 햄버거 버튼 -->
        <span><img src="/images/hamburger.png" style="width: 40px;" id="hamburger"></span>
    </div>
  
    <div id="nav-container">
        <div class="text"><a href="/member/login">로그인</a></div>
        <div class="text"><a href="/page/info">페이지 소개</a></div>
        <div class="text"><a href="/page/approach">이용방법</a></div>
        <div class="text"><a href="/postscript">후기 인증</a></div>
        <div class="text"><a href="/donation">기부하기</a></div>
        <div class="text"><a href="/faq">FAQ</a></div>
    </div>

    <script src="/js/header.js"></script>
</header>
  