<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEBEGBOO 메인페이지</title>


    <th:block th:replace="~{common/common}"></th:block>

</head>
<!-- <body onload="javascript:openPopup()"> -->
<body>
    <main>
        <div class="popup" style="display: block;">
          <img src="/images/mainBanner.png">
          <div class="popup-footer">
            <span>오늘 하루 열지 않음<input type="checkbox" id="cookieCheckBox"></span>
            <a onclick="closePopup();" class="closeBtn">닫기 &times;</a>
          </div>
        </div>

        <th:block th:replace="~{common/header}"></th:block>

        <th:block th:if="${session.loginMember != null} and ${session.loginMember.authority == 3}">
          <th:block th:replace="~{common/manager-bar}"></th:block>
        </th:block>

        <!-- 메인 배너 -->
        <!--<div class='container'>
            <h2 class="fadeup">WE ARE BEBEGIBOO</h2>
            <div class='reveal'>
              <div class="image-wrap">
                <img class="images" src='https://images.unsplash.com/photo-1496865534669-25ec2a3a0fd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'>
              </div>
            </div>
          </div>
          <div class='container'>
            <h2 class="fadeup">WE SAVE CHILDREN</h2>
            <div class='reveal'>
              <div class="image-wrap">
                <img class="images" src='https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'>
              </div>
            </div>
          </div>
          <div class='container'>
            <h2 class="fadeup">WITH US</h2>
            <div class='reveal'>
              <div class="image-wrap">
                <img class="images" src='https://images.unsplash.com/photo-1496198253360-4c44aa485f6c?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80'>
              </div>
            </div>
          </div>-->
          <div class='container' style="background-color: rgb(208, 227, 241);">
            <h2 class="fadeup" id="donate-color">DONATE YOUR THINGS</h2>
            <div class='reveal'>
              <div class="image-wrap">
                <img class="images" src='https://images.unsplash.com/photo-1496865534669-25ec2a3a0fd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'>
              </div>
            </div>
          </div>


        <button class="button" id="main-banner-donate" style="display: none;">기부하러 가기</button>
        
      




        <div id="who-container" class="showBox">

          <div style="font-weight: bold; font-size: 60px;">We Are BEBEGIBOO!</div>
          <div style="font-weight: bold; font-size: 30px; margin-top: 20px;">누구나 작은 기부를 할 수 있도록 돕자</div>

          <div style="margin-top: 10px;">
            베베기부는 아이들이 행복하게 자라나길 바라며 시작한 자선기부 프로젝트입니다.<br>
            여러분의 작은 도움들이 한데 모여<br>
            첫 해 1000명의 저소득층 가정과 200여명의 미혼모에게 기부 물품을 전달 할 수 있었습니다.<br>
            베베기부가 시작된지 3년차인 지금, 더욱 많은 이들에게 도움을 전하고자<br>
            매일 땀흘리며 노력하고 있습니다.
          </div>

          <div style="margin: 40px 0;">
            <button class="cl-button" style="margin-right: 20px;"><a href="/donation" style="color: white; font-weight: 500; font-size: 15px;">기부하기</a></button>
            <button class="cl-button"><a href="/certification/certification-main" style="color: white; font-weight: 500; font-size: 15px;">인증 페이지로 이동</a></button>
          </div>
        </div>






        <!-- 동영상 자동재생 -->
        <div style="margin-top: 50px; display: flex; justify-content: center;">
          <iframe width="100%" height="1000" src="https://www.youtube.com/embed/8_mtzY7-rgU?si=8KRcWKX0VEnaMG8z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        

        <th:block th:if="${session.loginMember != null and session.loginMember.authority == 2}">
          <!-- 현재 기부된 물품들 -->
          <div style="margin-top: 200px; display: flex; flex-direction: column; align-items: center;">
            <div style="text-align: center; font-size: 20px; font-weight: bold; margin-bottom: 100px;">베베기부에 기부된 물품들</div>
  
            <div id="donateThingss" style="height: 400px;"></div>
  
            <div style="display: flex; justify-content: center;"><button class="cl-button"><a href="/acceptor/main" style="color: white;">신청하러 가기</a></button></div>
          </div>
        </th:block>




        <!-- 후기게시판 -->

        <div class="showBox" style="display: flex; margin-top: 200px; padding-left: 100px;">
          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="font-weight: bold; font-size: 20px; padding-bottom: 50px;">후기게시판</div>

            <div style="height: 500px; width: 800px; border: 2px black solid; overflow: auto;">
              <table onclick="location.href='review'" id="review-board" style="text-align: center;">
                <thead>
                  <tr>
                    <td>글번호</td>
                    <td>제목</td>
                    <td>작성일</td>
                    <td>작성자</td>
                    <td>조회수</td>
                  </tr>
                </thead>

                <tbody id="boardTbody">

                </tbody>

              </table>
            </div>

            <button class="cl-button" style="background-color: rgb(254, 245, 220); margin-top: 50px;"><a href="/review">후기게시판 바로가기</a></button>
          </div>


          <div style="text-align: center; display: flex; align-items: center; padding-left: 100px;">
            베베기부를 이용한 피기부자들의 소중한 후기입니다.<br>
            현재 베베기부 이용자의 만족도는 98%이며, 앞으로 더 나은 서비스를 제공할 수 있도록 노력할 것입니다.<br>
            베베기부를 이용하고 후기게시판을 작성하여 다음 이용자들에게 도움이 되어보세요<br><br>|<br><br>

            유럽 28개국 중 일회용 월경용품, 아기 기저귀와 물티슈를 사용하여 발생하는 쓰레기는 약 7,832,000톤<br>
            (연간 1인당 15.3kg에 달하는 양)의 양을 기록합니다. 이러한 쓰레기 양은 도시 고형 폐기물 전체 양의<br>
            3%, 나머지 지자체 폐기물 흐름의 4%를 차지합니다.<br><br>
            낭비하여 버리기보단 필요한 가정에 기부하여 소중한 마음을 나눠보세요!
          </div>
        </div>



        <!-- 기부하는 방법 글씨-->
        <div id="howtodonate"><div class="text">|베베기부에 기부하는 방법|</div></div>

        <!-- 기부하는 방법 순서 블럭 -->
        <div id="container" class="showBox">
            <div id="donate-box">
    
                <div class="donate-container" id="container1">
                    <div class="title">1</div>
                    <div class="text content">기부 가능 물품</div>
                </div>
    
                <div class="donate-container" id="container2">
                    <div class="title">2</div>
                    <div class="text content">포장 및 배송 방법</div>
                </div>
    
                <div class="donate-container" id="container3">
                    <div class="title">3</div>
                    <div class="text content">신청서 작성</div>
                </div>
    
                <div class="donate-container" id="container4">
                    <div class="title">4</div>
                    <div class="text content">물품 발송</div>
                </div>
    
            </div>
        </div>

        <!-- 기부하는 방법 -->
        <div id="img-container">
            <img src="/images/main-explain.png" id="ex-img">
        </div>


        <!-- 게시판 이동 -->
        <div class="buttons-container showBox">
            <div class="text" style="font-weight: bold;">게시판 이동</div>
            <div><button class="text button botton-button" id="faqBoardBtn">FAQ 게시판</button></div>
            <div><button class="text button botton-button" id="reviewBtn">후기 인증 게시판</button></div>
        </div>

        <!-- 맨 위로가는 버튼 -->
        <div class="text" id="top-button">↑</div>

    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/main.js"></script>

</body>
</html>