<footer>
	<div id="simpleFooter">
		<div>
		    <span><a href="/page/info">회사소개</a></span> |
		    <span><a href="/page/approach">이용 가이드</a></span> |
		    <span><a href="/faqBoard/faqBoard">FAQ</a></span> |
		    <span><a href="/donation">기부하기</a></span>
		</div>
		
		<!-- 로고부분 -->
		<div id="simpleLogo">
		    <img src="/images/logo-black.png">
		    <span>Copyright © BeBeGiBoo Corp. All Rights Reserved.</span>
		</div>
	</div>

</footer>
<script th:inline="javascript">
	const message = /*[[${message}]]*/ "전달받은메세지";
	
	if(message != null){
		alert(message);
	}
</script>