<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/member/signup/signupForm.css">
</head>
<body>
    
<main>
    <!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 로고 -->
    <div id="font-logo-area">
        <a href="/" id="font-logo">
            <img src="/images/font-logo.png" alt="font-logo" style="width: 200px;">
        </a>
    </div>
    
        <section class="signUp-content">
            
            <form action="/member/signup/signupForm" method="POST" name="signUpForm" id="signUpForm">

                <div class="signup"><span>회원가입</span></div>
                
                <table class="signUp-info">
                    <tr class="memberId">
                        <td class="sectionName">아이디</td>
                        <td><input type="text" name="memberId" id="memberId" class="signUp-input"
                                placeholder="아이디" maxlength="10" autocomplete="off" required> </td>                                     
                    </tr>
                    <tr>
                        <td class="sectionName"></td>
                        <td><span class="signUp-message" id="idMessage">영어, 숫자, 특수문자(-,_) 6~10글자 이내로 입력해주세요.</span></td>
                    </tr>
                    <tr>
                        <td class="sectionName">비밀번호</td>
                        <td><input type="password" name="memberPw" id="memberPw" class="signUp-input"
                                            placeholder="비밀번호" maxlength="12" required></td>
                    </tr>
                    <tr>
                        <td class="sectionName"></td>
                        <td><input type="password" name="memberPwConfirm" id="memberPwConfirm" class="signUp-input"
                                                placeholder="비밀번호 확인" maxlength="12" required></td>
                    </tr>
                    <tr>
                        <td class="sectionName"></td>
                        <td><span class="signUp-message" id="pwMessage">영어, 숫자, 특수문자(-,_)8~12글자 이내로 입력해주세요.</span></td>
                    </tr>

                    <tr>
                        <td class="sectionName">이름</td>
                        <td>
                            <input type="text" name="memberName" id="memberName" class="signUp-input"
                                                placeholder="이름" maxlength="15" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="sectionName"></td>
                        <td><span class="signUp-message" id="nameMessage">한글, 영어로만 입력 가능합니다.</span></td>
                    </tr>
                    <tr>
                        <td class="sectionName">생년월일</td>
                        <td>
                            <input type="text" name="memberBirth" id="memberBirth" class="signUp-input"
                                            placeholder="생년월일" maxlength="8" required>       
                        </td>
                    </tr>
                    <tr>
                        <td class="sectionName"></td>
                        <td> <span class="signUp-message" id="birthMessage">생년월일 8자리 '-' 없이 입력해주세요</span></td>
                    </tr>
                    <tr>
                        <td class="sectionName">핸드폰번호</td>
                        <td><input type="text" name="phone" id="phone" class="signUp-input"
                                placeholder="핸드폰번호" maxlength="13" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="sectionName"></td>
                        <td><span class="signUp-message" id="phoneMessage">핸드폰번호 '-'포함해서 입력해주세요</span></td>
                    </tr>
                </table>    

                <table class="signUp-email">
                    <tr>
                        <td class="sectionName">이메일</td>
                        <td> <input type="text" name="email" id="email" class="signUp-input"
                                            placeholder="이메일" maxlength="30" required></td>
                        <td><button id="sendEmailBtn">인증메일</button></td>                    
                    </tr>
                    <tr>
                        <td class="sectionName"></td>
                        <td><span class="signUp-message" id="emailMessage">메일을 받을 수 있는 이메일을 입력해주세요.</span></td>
                    </tr>
                    <tr>
                        <td class="sectionName">인증번호</td>
                        <td>
                            <input type="text" name="authKey" id="authKey" placeholder="인증번호 입력" class="signUp-input"
                                                    maxlength="6" autocomplete="off" required>
                        </td>
                        <td><button id="checkAuthKeyBtn">인증하기</button></td>
                    </tr>
                    <tr>
                        <td class="sectionName"></td>
                        <td>
                            <span class="signUp-message" id="authKeyMessage"></span>
                        </td>
                    </tr>

                </table>

                <table class="signUp-address">
                    <tr>
                        <td id="postcodeSection">우편번호</td>
                        <td>    
                            <input type="text" name="address" placeholder="우편번호" 
                                                                maxlength="6" id="postcode" required readonly>
                        </td>
                        <td><button type="button" id="searchAddress">검색</button></td>
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td>
                            <input type="text" name="address" placeholder="도로명/지번주소" id="mainAddress" required readonly>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="text" name="address" placeholder="상세주소" id="detailAddress" required>
                        </td>
                        <td></td>
                    </tr>
                </table>

                <!-- authority 값 -->
                <input type="hidden" name="authority" id="authority" th:value="${authority}">
                <button id="signUpBtn">회원가입</button>
                
            </form>
        
        </section>

    </main>

    <!-- 푸터 -->
    <th:block th:replace="~{common/footer}"></th:block>

    <!-- 다음 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- 회원가입 JS -->
    <script src="/js/member/signup.js"></script>     
    
</body>
</html>