<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymepeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Main</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/member/signup/signupMain.css">
</head>
<body>
    <main>
        <!-- 헤더 -->
        <th:block th:replace="~{common/header}"></th:block>

        <!-- 로고 -->
        <div id="font-logo-area">
            <a href="/" id="font-logo">
                <img src="/images/font-logo.png" alt="font-logo" style="width: 200px;">
            </a>
        </div>

        <!-- 선택하기 폼 영역 -->
        <section class="donatorCheck">

            <div id="signUp">
                <span>회원가입</span>
            </div>

            <form action="/member/signup/signupTerm" method="POST" name="signupMain" id="signupMain">

                <table class="donatorForm">

                    <tr>
                        <td><span>기부자 / 피기부자 선택하기</span></td>
                    </tr>
                    <tr class="empty"></tr>
                    <tr class="empty"></tr>
                    <tr>
                        <td><input type="checkbox" name="authority" id="donator" class="selectOne" 
                                    value="1"><span id="donatorSpan">기부자</span></td>        
                    </tr>
                    <tr class="empty"></tr>
                    <tr>
                        <td><input type="checkbox" name="authority" id="acceptor" class="selectOne" 
                                    value="2"><span id="acceptorSpan">피기부자</span></td>
                    </tr>
                    <tr class="empty"></tr>
                    <tr>
                        <td>
                            <button id="submitBtn">선택 완료</button>
                        </td>
                    </tr>
                    
                </table>   

            </form>

        </section>

        


    </main>
    
    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/member/signupMain.js"></script>
</body>
</html>