<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피기부자 기부물품 신청 페이지</title>


    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/acceptor/acceptor-main.css">

</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        
        <div class="external">
            <div class="text" id="acceptor-title">기부물품 신청</div>
            <div class="horizontal-scroll-wrapper" id="horizontal">
              
              
          
            </div>
        </div>
        

    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/acceptor/acceptor-main.js"></script>

    

</body>
</html>