<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
        <!--css/js 파일은 이메일 첨부 불가-->
        <div style="display: flex; flex-direction: column; align-items: center;">

            <!--Contend-ID로 등록된 이미지 중 logo를 출력-->
            <img src="cid:logo" width="200px">
            <br>
            <h3>
                회원님의 아이디는 아래와 같습니다
            </h3>
            <br>
            <h3 style="text-align: center; border: 3px solid black; color: blue; width: 400px; padding: 10px;">
                <th:block th:text="${id}"></th:block>
    
            </h3>
        </div>
</body>
</html>