<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>idInquiry</title>

	<link rel="stylesheet" href="/css/main-style.css">
	<link rel="stylesheet" href="/css/member/login_inquiry/inquiry.css">
</head>
<body>
	
	<main>
	    <div id="font-logo-area">
	        <a href="/">
	            <img id="font-logo" src="/images/font-logo.png" alt="font-logo">
	        </a>
	    </div>
	
	    <div>
	        <span class="l-text">아이디 찾기</span>
	    </div>
	    <div>
			<form action ="/inquiry/idInquiry" method="POST">
				<ul id="ulArea">
					<li id="inputArea">
						이름
						<input type="text" name="memberName" id="memberName" required> 
					</li>
					<li>
						<input type="radio" id="phoneNum" name = "check"> 휴대폰번호로 찾기
					</li>
					<li>
						<input id = "phoneArea" type="tel" name="phone" class="input"  placeholder="'-'를 포함해서 입력해주세요" style="display:none;" maxlength="13">
					</li>
					<li> 
						<input type="radio" id="email" name="check"> 이메일로 찾기
					</li>
					<li>
						<input id = "emailArea" type="email" name="email"class="input"  placeholder="이메일 주소를 입력해주세요" style="display:none;">
					</li>
				</ul>

				<section>
					<button id="findIdBtn" class="text">아이디 찾기</button>
				</section>
			</form>

            <article class="signup-find-area">
				<a href="/member/signup/signupMain" class="s-text">회원가입</a>
                <span class="divider">|</span>
                <a href="/member/login" class="s-text">로그인</a>
                <span class="divider">|</span>
                <a href="/member/inquiry/pwInquiry" class="s-text">비밀번호 찾기</a>
            </article>
	    </div>
	</main>
	<th:block th:replace="~{common/simpleFooter}"></th:block>
	<script src="/js/member/inquiry.js"></script>
</body>
</html>