<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pwInquiry</title>
	<link rel="stylesheet" href="/css/main-style.css">
	<link rel="stylesheet" href="/css/member/login_inquiry/inquiry.css">
</head>
<body>
	<main>
		    <div id="font-logo-area">
		        <a href="/">
		            <img id="font-logo" src="/images/font-logo.png" alt="font-logo">
		        </a>
		    </div>
		
		    <div>
				<span class="l-text">비밀번호 찾기</span>
		    </div>
		    <div>
				<form action="/inquiry/pwInquiry" method="POST">
					<ul id="ulArea">
						<li id="inputArea">
							아이디
							<input type="text" name="memberId" id="memberId" required> 
						</li>
						<li>
							<input type="radio" id="phoneNum" name = "check"> 휴대폰번호로 찾기
						</li>
						<li>
							<input type="tel" name="phone" class="input" id="phoneArea" placeholder="'-'를 포함해서 입력해주세요" style="display:none;">					</li>
						<li> 
							<input type="radio" id="email" name="check"> 이메일로 찾기
						</li>
						<li>
							<input type="email" name="email" class="input" id="emailArea" placeholder="이메일 주소를 입력해주세요" style="display:none;">
						</li>
					</ul>
	
					<section>
						<button id="findPwBtn" class="text">비밀번호 찾기</button>
					</section>
				</form>
		
				<article class="signup-find-area">
					<a href="/member/signup/signupMain" class="s-text">회원가입</a>
					<span class="divider">|</span>
					<a href="/member/login" class="s-text">로그인</a>
					<span class="divider">|</span>
					<a href="/member/inquiry/idInquiry" class="s-text">아이디 찾기</a>
				</article>
		    </div>
		</main>
		<th:block th:replace="~{common/simpleFooter}"></th:block>
		<script src="/js/member/inquiry.js"></script>
</body>
</html>