<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymepeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>페이지 소개</title>

    <link rel="stylesheet" href="/css/page/info.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>

    <th:block th:replace="~{common/header}"></th:block>

    <th:block th:if="${session.loginMember != null} and ${session.loginMember.authority == 3}">
          <th:block th:replace="~{common/manager-bar}"></th:block>
        </th:block>
    

    <section class="hero-section">
      <div class="loop-container">
        <div class="item">WE ARE BEBEGIBOO WE SAVE CHILDREN ALL OVER THE WORLD</div>
        <div class="item">WE ARE BEBEGIBOO WE SAVE CHILDREN ALL OVER THE WORLD</div>
      </div>
    </section>
    <section class="image-section">
      <div class="second-loop-container">
        <div class="images-wrapper">
          <div class="image-container"><img src="/images/volunteer-1.jpeg" alt=""></div>
          <div class="image-container"><img src="/images/volunteer-2.jpg" alt=""></div>
          <div class="image-container"><img src="/images/volunteer-3.jpg" alt=""></div>
          <div class="image-container"><img src="/images/volunteer-4.jpg" alt=""></div>
          <div class="image-container"><img src="/images/volunteer-5.jpg" alt=""></div>
        </div>
        <div class="images-wrapper">
          <div class="image-container"><img src="/images/volunteer-6.jpg" alt=""></div>
          <div class="image-container"><img src="/images/volunteer-7.jpg" alt=""></div>
          <div class="image-container"><img src="/images/volunteer-8.jpeg" alt=""></div>
          <div class="image-container"><img src="/images/volunteer-9.jpg" alt=""></div>
          <div class="image-container"><img src="/images/volunteer-10.jpg" alt=""></div>
        </div>
      </div>
    </section>
    
    
    
    <div class="exContainer">
      <img id="info-logo" src="/images/logo-black.png">
      <img src="/images/whoweare-bebegiboo.JPG">
    </div>




      <div id="text-container"><p id="text">UNICEF HOPE 홍보영상</p></div>
      <div id="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/8_mtzY7-rgU?si=hKzVyRpnG7WxO9f_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      
    <th:block th:replace="~{common/footer}"></th:block>    

    <script src="/js/page/info.js"></script>
</body>
</html>