<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymepeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용방법</title>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/page/page-approach.css">


</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <th:block th:if="${session.loginMember != null} and ${session.loginMember.authority == 3}">
          <th:block th:replace="~{common/manager-bar}"></th:block>
        </th:block>


        <div id="approach-main">
            <div id="approach-title">BEBEGIBOO 이용방법</div>



            <div style="font-size: 30px; font-weight: bold; margin-top: 100px; margin-left: 200px;">기부 가능 / 불가능 물품</div>
            <!-- 기부 가능/불가능 -->
            <div class="approach-content">

                <!-- 기부 가능 -->
                <div class="available" style="margin-right: 300px;">
                    <div style="font-weight: bold; font-size: 20px; margin-bottom: 50px;">◈기부 가능 물품</div>
                    <div>
                        <ul>
                            <li>사계절 의류 (0-14세)</li>
                            <li>유아 생활용품 (매트, 손톱깎이, 역류 방지 쿠션)</li>
                            <li>육아 가전 및 가구 (분유포트, 유축기 등)</li>
                            <li>장난감 및 도서</li>
                        </ul>
                    </div>
                </div>

                <!-- 기부 불가능 -->
                <div class="available">
                    <div style="font-weight: bold; font-size: 20px; margin-bottom: 50px;">◈기부 불가능 물품</div>
                    <div>
                        <ul>
                            <li>찢어지거나 오염으로 훼손된 물품</li>
                            <li>어린이집 / 유치원 / 학원 가방</li>
                            <li>생활감이 심간 가전이나 가구</li>
                            <li>이름이 적혀있는 물건 일체</li>
                        </ul>
                    </div>
                </div>

            </div>


            <div style="font-size: 30px; font-weight: bold; margin-top: 100px; margin-left: 200px;">포장 및 배송방법</div>
            <!-- 포장 및 배송방법 -->
            <div class="delivery">

                <ul>
                    <li>박스 포장 : 우체국 5호 박스 이하 사이즈 & 15kg 이하 무게 권장</li>
                    <li>5호 사이즈 혹은 15kg 이상 박스 다수를 기부하시는 경우에는 유선상으로 먼저 연락 부탁드립니다.</li>
                    <li>최근 운송비용으로 지출되는 금액이 증가함에 따라 택배 시 운송비 후원금을 받게 되었습니다.</li>
                    <li>운송비 : 국내 택배비 및 운송비 지원</li>
                    <li>박스 당 5,000원을 기부해 주시면 됩니다 (박스 개수 X 5,000원)</li>
                </ul>
            </div>


            <div style="font-size: 30px; font-weight: bold; margin-top: 100px; margin-left: 200px;">신청서 작성 방법</div>
            <!-- 신청서 작성 -->
            <div class="donation-approach">

                <div style="margin-top: 100px; font-weight: bold;" id="donation">
                    <div style="margin-right: 50px;">
                        <div>1. 신청자 연령 선택</div>
                        <img src="/images/approach-1.JPG">
                    </div>
    
                    <div style="margin-right: 50px;">
                        <div>2. 신청자 연령이 14세 미만일 경우 보호자 동의 확인</div>
                        <img src="/images/approach-2.JPG">
                        <div class="addEx">※법적 보호자의 이름과 전화번호를 작성하고 동의사항에 체크 후 인증을 완료해주세요</div>
                    </div>
    
                    <div style="margin-right: 50px;">
                        <div>3. 육아용품 종류 선택</div>
                        <img src="/images/approach-3.JPG">
                        <div class="addEx">※육아용품 종류는 다중선택이 가능합니다</div>

                    </div>
    
                    <div style="margin-right: 50px;">
                        <div>4. 육아용품 이름 입력</div>
                        <img src="/images/approach-4.JPG">
                        <div class="addEx">※육아용품 이름은 ','(콤마)로 구분해서 띄어쓰기 없이 입력해주세요</div>

                    </div>
    
                    <div style="margin-right: 50px;">
                        <div>5. 박스수량 선택</div>
                        <img src="/images/approach-5.JPG">
                    </div>
    
                    <div style="margin-right: 50px;">
                        <div>6. 배송정보 입력</div>
                        <img src="/images/approach-6.JPG">
                        <div class="addEx">※배송자 지역은 배송자 거주지와 달라야 봉사인증이 가능합니다</div>

                    </div>
    
                    <div style="margin-right: 50px;">
                        <div>7. 후원금 납부</div>
                        <img src="/images/approach-7.JPG">
                        <div class="addEx">※동의사항에 체크 후 결제를 완료해주세요</div>
                    </div>
                </div>



                <!-- 전자 영수증-->
                <div id="recipt">
                    <div style="font-weight: bold; margin-bottom: 30px;">※후원금 납부 단계에서 영수증 신청 시 신청 폼에서 작성하신 이메일로 전자 영수증이 발행됩니다.</div>
                    <div style="background-color: rgb(240, 240, 240); width: 800px; height: 450px; display: flex;
                    justify-content: center; align-items: center; text-align: center;">
                        기부금 영수증 안내<br><br>
                        베베기부에서는 전자 기부금 영수증 제도를 따르고 있습니다.<br>
                        결제 과정에서 이메일 작성 시 이메일에 자동으로 전자 영수증이 발행되며,<br>
                        차년도 1월 국세청 홈택스 연말정산간소화 서비스에서 조회하실 수 있습니다.<br>
                        기부금 영수증을 신청하지 못한 경우 아래 이메일로 요청하실 수 있습니다.<br>
                        bebegiboo@co.kr<br>
                        이미 발행된 기부금 영수증은 수정이 불가능 합니다.<br>
                        기부금 영수증은 기부자 이외 타인의 이름으로 변경 또는 양도되지 않습니다.<br>
                        단, 기부자 본인 또는 기본 공제대상자(직계존속, 형제자매 포함)의 경우<br>
                        명의를 바꾸지 않으셔도 세액공제 혜택을 받으실 수 있습니다.<br>
                        *타인의 명의로 허위 발급 시 소득세법 81조에 근거하여 법적 처벌을 받게 됩니다.
                    </div>
                </div>

            </div>



            <div style="font-size: 30px; font-weight: bold; margin-top: 100px; margin-left: 200px;">물품 발송</div>
            <!-- 물품 발송 -->
            <div id="ex">
                기부 신청서를 작성해 주시면 지정 택배사(CJ 대한통운/한진)을 통해 물품을 수거합니다.<br>
                사무실에 직접 방문해 물품을 전달해주셔도 됩니다.<br>
                *평일 오전 10시 ~ 오후 4시 주말/공휴일 제외<br>
                큰 박스 기준 30박스 이상일 경우 먼저 베베기부에 연락 부탁드립니다.<br><br>
                [발송방법]<br>
                택배예약 : 신청서 작성 시 자동으로 신청<br>
                운송비 : 무게 15kg 내외/우체국 5호 사이즈 -> 1박스당 5,000원<br>
                기부금 영수증 : 기부금 + 물품 가액을 합산해 영수증 발급<br>
                발송지 : 베베기부에서 자동 입력
            </div>

            <div style="font-size: 30px; font-weight: bold; padding-top: 100px; padding-left: 200px; border-top: 1px gray solid;">기부물품 신청</div>
            <!-- 피기부자 -->
            <div class="wish" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div style="padding-left: 200px; padding-top: 100px; font-size: 18px; text-align: center; line-height: 30px;">
                    기부물품 신청하기 페이지에서 원하는 기부물품에 신청 후 연결되면 배송이 시작됩니다.<br>
                    ※이 기능은 피기부자만 이용 가능합니다
                </div>
                <img src="/images/wish.JPG" style="margin-top: 50px; height: 600px; padding-left: 200px; margin-bottom: 200px;">
            </div>
        </div>


        <div class="rightButton">
            <div id="button1">기부 가능 / 불가능 물품</div>
            <div id="button2">포장 및 배송방법</div>
            <div id="button3">신청서 작성 방법</div>
            <div id="button4">물품 발송</div>
            <div id="button5">기부물품 신청</div>
        </div>


    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="/js/page/approach.js"></script>
</body>
</html>