<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymepeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기부하기 메인페이지</title>

    <link rel="stylesheet" href="/css/donation/donation-main.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
    <main>

        <th:block th:replace="~{common/header}"></th:block>
    


        <div id="container">

            <div class="text">기부신청</div>


            <div>
                <figure class="snip1425">
                    <img src="/images/deliveryBox.jpg" alt="box" />
                    <figcaption><i class="ion-podium"></i>
                        <button id="button">작성 시작하기</button>
                    </figcaption>
                  </figure>
            </div>


            <img src="/images/donation-bar.JPG" style="height: 70px;">


        </div>




    </main>
    
 

    <script src="/js/donation/donation-main.js"></script>

</body>
</html>