<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Insert</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/faqBoard/insertFaq.css">
</head>
<body>
    <main>
        <!-- HEADER -->
        <th:block th:replace="~{common/header}"></th:block>

        <th:block th:if="${session.loginMember != null} and ${session.loginMember.authority == 3}">
          <th:block th:replace="~{common/manager-bar}"></th:block>
        </th:block>

        <form action="/faqBoard/insertFaq" method="POST" class="insertFaq" id="insertFaq">

           
            <div class="faqLogo"><a href="/faqBoard/faqBoard">FAQ</a></div>
           
            <div id="write"><span>작성하기</span></div>

            <section class="insertFaqForm">
                <table>
                    <tr class="qTitleNo">
                        <td id="qTitle"><span>질문제목</span></td>
                        <td id="category">
                            <select name="categoryNo" id="categoryNo">
                                <option value="1">1.기부</option>
                                <option value="2">2.택배관련</option>
                                <option value="3">3.봉사활동 인증</option>
                                <option value="4">4.홈페이지</option>
                                <option value="5">5.기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="question" id="question">
                        </td>
                    </tr>
                    <tr>
                        <td><span>내용</span></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea name="answer" class="answer" id="answer"></textarea>
                        </td>
                    </tr>
                </table>
            
                <div class="buttons">
                    <button id="insertBtn">입력</button>
                    <button type="button" id="cancelBtn">취소</button>
                </div>
            </section>

        </form>



    </main>
    
        <!-- FOOTER -->
        <th:block th:replace="~{common/footer}"></th:block>

        <script src="/js/faqBoard/insertFaq.js"></script>  
</body>
</html>