@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'ONE-Mobile-Regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*border: 1px black solid;*/
}
.l-text{
	font-size : 20px;
	font-weight: 400;
}
.text {
    font-size: 17px;
	margin : 0 10px;
}
.s-text {
    font-size: 17px;
	text-decoration: none;
	color:#858585;
}
.divider {
	font-size: 20px;
	margin: 0 20px;
	color:#858585;
}
main {
	display : flex;
	flex-direction: column;
	justify-content: center;
 }


#font-logo-area{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 40px;
}

#font-logo{
	width:200px;
	height : 80px;
}

main div:nth-child(2) {
	display : flex;
	justify-content: center;
	margin-bottom: 40px;
}
main div:nth-child(3){
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	width : 550px;
	height : 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #b4b4b4;
	margin-bottom: 20px;
	border-radius: 30px;
}
.nameInput {

	margin-right: auto;
}

ul {
	list-style-type: none;
}
li:nth-child(1),
li:nth-child(3),
li:nth-child(5){
	margin-bottom: 35px
}
li:nth-child(2),
li:nth-child(4) {
	margin-bottom: 20px;
}



#inputArea {
	display : flex;
	justify-content: space-between;
}

#phoneNum,
#email {
	margin-left: -17px;
}

.input,
input[name="memberName"],
input[name="memberId"] {
	margin-left: 12px;
	width : 300px;
	height: 30px;
	font-size: 15px;
	padding:10px;
	margin-bottom: 20px;
	border : 1px solid #858585;
}

input[name="memberName"] {
	width : 270px;
	font-size: 15px;
}
input {
	border : none;
}
#findIdBtn,
#findPwBtn{
	width: 400px;
	height: 80px;
	background-color: #DCEBFF;
	border: 2px solid #DCEBFF;
	border-radius: 20px;
}

#findBtn:hover{
	cursor : pointer;
	background-color : white;
	transition-duration : 0.5s;
}
