@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px black solid;*/
}
.l-text{
	font-size : 20px;
	font-weight: 400;
	font-family: 'ONE-Mobile-Regular';
}
.text {
    font-size: 17px;
	margin : 0 10px;
	font-family: 'ONE-Mobile-Regular';
}
.s-text {
	font-family: 'ONE-Mobile-Regular';
    font-size: 13px;
	text-decoration: none;
	color:#858585;
}

.divider {
	font-size: 20px;
	margin: 0 20px;
	color:#858585;
}
main {
	display : flex;
	flex-direction: column;
	justify-content: center;
 }


#font-logo-area{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 40px;
}

#font-logo{
	width:200px;
}

main div:nth-child(2) {
	display : flex;
	justify-content: center;
	margin-bottom: 50px;
}
main div:nth-child(3){
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	width : 600px;
	height : 500px;
	display: flex;
	flex-direction: column;

	align-items: center;
	border: 1px solid #b4b4b4;
	margin-bottom: 20px;
	border-radius: 30px;
}

table {
	margin-top: 140px;
}
tbody {
	height: 80px;
	display : flex;
	flex-direction: column;
	justify-content: space-between;
}
tr {
	display: flex;
	justify-content: space-between;
}
tbody tr:nth-child(2),
tbody tr:nth-child(4) {

	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.input {
	width : 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginInput{
	width: 270px;
	height: 30px;
	padding:10px;
	font-size: 15px;
}
#loginId {
	font-family: 'ONE-Mobile-Regular';
}
.error {
	color : red;
}

#saveIdArea{
	width: 200px;
	margin:15px 0 100px 20px;

	display: flex;
}
#saveId {
	margin-right: 5px;
}
#loginBtn{
	width: 400px;
	height: 80px;
	background-color: #DCEBFF;
	border: 2px solid #DCEBFF;
	border-radius: 20px;
}
#loginBtn:hover{
	cursor : pointer;
	background-color : white;
	transition-duration : 0.5s;

}


