<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bebegiboo.project.donate.mapper.DonateMapper">

	<select id="findNo">
		SELECT MEMBER_NO
		FROM "MEMBER"
		WHERE MEMBER_ID = #{cookieValue}
	</select>


	<insert id="deliveryInfo">
		INSERT INTO DELIVERY_INFO
		VALUES(SEQ_DELIVERY_NO.NEXTVAL,
				#{name},
				#{phone},
				#{phone2},
				#{address},
				#{date},
				#{memo},
				#{memberNo},
				SEQ_DONATION_RECORD_NO.CURRVAL)
	</insert>
	
	
	
	
	
	<insert id="dailyInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{dailyARR}, #{memberNo}, 1, SEQ_DONATION_RECORD_NO.CURRVAL)
	</insert>
	
	<insert id="clothInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{clothARR}, #{memberNo}, 2, SEQ_DONATION_RECORD_NO.CURRVAL)
	</insert>
	
	<insert id="dishInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{dishARR}, #{memberNo}, 3, SEQ_DONATION_RECORD_NO.CURRVAL)
	</insert>
	
	<insert id="electronicInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{electronicARR}, #{memberNo}, 4, SEQ_DONATION_RECORD_NO.CURRVAL)
	</insert>
	
	<insert id="toyInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{toyARR}, #{memberNo}, 5, SEQ_DONATION_RECORD_NO.CURRVAL)
	</insert>
	
	<insert id="recordInfo">
		INSERT INTO DONATION_RECORD
		VALUES(SEQ_DONATION_RECORD_NO.NEXTVAL, SYSDATE, #{memberNo}, NULL)
	</insert>

	<insert id="paymentInfo">
		INSERT INTO PAYMENT
		VALUES(SEQ_PAY_NO.NEXTVAL, #{price}, #{method}, #{memberNo}, SEQ_DONATION_RECORD_NO.CURRVAL)
	</insert>

</mapper>
